<ion-view title="Activity Member Detail" id="page13" style="background-color:#D9EEE6;">
  <ion-content padding="true" class="has-header">
    <div id="activityMemberDetail-container6">
      <ion-list id="activityMemberDetail-list8">
        <ion-item class="item-avatar" id="activityMemberDetail-list-item33" ui-sref="tabsController.letUsChat()">
          <img src="img/WctAjJmRWK199E76IQmQ_0512142957.png">
          <h2>李校长</h2>
        </ion-item>
        <ion-item class="item-divider" id="activityMemberDetail-list-item-divider1"> DIstance</ion-item>
        <label class="item item-input" id="activityMemberDetail-input9">
          <span class="input-label">1000</span>
          <input type="number" placeholder="">
        </label>
        <ion-item class="item-divider" id="activityMemberDetail-list-item-divider2"> Rank</ion-item>
        <ion-item class="item-icon-right" id="activityMemberDetail-list-item51">5
          <i class="icon ion-android-star"></i>
        </ion-item>
      </ion-list>
    </div>
    <button id="activityMemberDetail-button9" class="button button-balanced button-block">Request Friend</button>
    <a ui-sref="tabsController.letUsChat()" id="activityMemberDetail-button15" class="button button-energized button-block">Chat</a>
    <button id="activityMemberDetail-button13" class="button button-assertive button-block">Delete </button>
  </ion-content>
</ion-view>