<ion-view title="Let us Chat" id="page14" style="background-color:#D9EEE6;">
  <ion-content padding="true" class="has-header">
    <div id="letUsChat-container7" class="creator-container"></div>
    <form id="letUsChat-form9" class="list">
      <label class="item item-input" id="letUsChat-input14">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="letUsChat-button25" class="button button-balanced button-block">Send</button>
  </ion-content>
</ion-view>