<ion-view title="My Activity List" id="page4" style="background-color:#D9EEE6;">
  <ion-content padding="true" class="has-header">
    <div id="myActivityList-container2">
      <ion-list id="myActivityList-list3">
        <ion-item class="item-icon-right" id="myActivityList-list-item12" ui-sref="tabsController.activityDetail()">Buy Milk
          <i class="icon ion-android-alarm-clock"></i>
        </ion-item>
        <ion-item id="myActivityList-list-item13" ui-sref="tabsController.activityDetail()">Panda Kill</ion-item>
        <ion-item id="myActivityList-list-item14" ui-sref="tabsController.activityDetail()">Gas Gas</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>