<ion-view title="Show Profile" id="page9" style="background-color:#D9EEE6;">
  <ion-content padding="true" class="has-header">
    <div id="showProfile-container8">
      <div>
        <img src="img/4euMGKIwTq2xQnclAfPF_0512142957.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div id="showProfile-container4">
      <form id="showProfile-form4" class="list">
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <label class="item item-input" id="showProfile-input5">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Name">
        </label>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <label class="item item-input" id="showProfile-input6">
          <span class="input-label">Date Birth</span>
          <input type="date" placeholder="Start Date">
        </label>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <label class="item item-select" id="showProfile-select1">
          <span class="input-label">Gender</span>
          <select>
            <option>Female</option>
            <option>Male</option>
            <option>Other</option>
          </select>
        </label>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <label class="item item-input" id="showProfile-input8">
          <span class="input-label">Cell</span>
          <input type="tel" placeholder="Cell Phone">
        </label>
        <button id="showProfile-button26" class="button button-balanced button-block">Edit</button>
      </form>
    </div>
  </ion-content>
</ion-view>